#about__main__content {
  background-color: var(--white-color);
}

#about__main__content {
  padding-top: calc(60px);
}

.about__contanier {
  padding: 2.5rem;
}

.about__contanier {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__contanier #right__content #imagem__colecionador {
  margin-left: 2.5rem;
}

#left__content h1 {
  margin: 0;
  color: var(--main-color);
  font-family: porscheNextBold;
  font-size: 40px;
  font-weight: 1000;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

#left__content h2 {
  margin: 0;
  color: var(--main-color);
  font-family: porscheNextBold;
  font-size: 38px;
  letter-spacing: 0.2rem;
}

#assinatura__ceo img {
  width: 200px;
  height: auto;
}

#assinatura__ceo p {
  position: relative;
  top: -25px;
  left: 40px;
}

#left__content h3,
#left__content h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 24px;
  font-family: porscheNextBold;
  color: var(--black-color-opacity-40);
  line-height: 2.5rem;
  letter-spacing: 2px;
}

#titulos h4 {
  gap: 3rem;
}

#list__information {
  list-style-type: none;
  padding-left: 1rem;
}

#list__information span {
  display: flex;
  gap: 1rem;
  font-size: 20px;
  color: var(--black-color);
  margin-bottom: 0.5rem;
}

#list__information span i {
  color: var(--main-color);
  font-size: 28px;
}

#imagem__colecionador img {
  max-width: 800px;
  max-height: auto;
}

#services {
  display: flex;
  gap: 2.5rem;
  padding: 1.5rem;
  justify-content: center;
}

#services .icon img {
  width: 75px;
  height: auto;
}

.vantagens .icon {
  left: 0;
}

.vantagens {
  display: flex;
  flex-direction: column;
}

.vantagens h4 {
  font-size: 28px;
  font-weight: 1000;
  font-family: porscheNextBold;
  color: var(--black-color);
}

.vantagens p {
  font-size: 20px;
  font-weight: lighter;
  font-family: porscheNextBold;
  color: var(--black-color);
  color: var(--black-color-opacity-60);
  max-width: 300px;
}

.about__contanier__logo {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
}

.about__contanier__logo #left__content h1,
.about__contanier__logo #left__content h2,
.about__contanier__logo #left__content h3 {
  text-align: center;
}

.about__contanier__logo #left__content h4 {
  text-align: left;
  line-height: 2.5rem;
  letter-spacing: 2px;
}

.about__contanier__logo #left__content {
  text-align: center;
}

.about__contanier__logo #imagem__logo svg:path {
  fill: var(--main-color);
}

.about__contanier__logo #imagem__logo svg {
  margin-top: 3.5rem;
  width: 475px;
  height: auto;
}

/* Equipe */
.about__contanier__equipe #titulos {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about__contanier__equipe #titulos h1 {
  margin: 0;
  padding-top: 2rem;
  color: var(--main-color);
  font-family: porscheNextBold;
  font-size: 40px;
  font-weight: 1000;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

.about__contanier__equipe #titulos h2 {
  margin: 0;
  color: var(--main-color);
  font-family: porscheNextBold;
  font-size: 38px;
  letter-spacing: 0.2rem;
}

.about__contanier__equipe #titulos h3 {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.2rem;
  font-family: porscheNextBold;
  color: var(--black-color-opacity-40);
  width: 35vw;
  margin: 0 auto;
  padding-top: 1rem;
}

.container__equipe {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 29rem);
  grid-auto-rows: auto;
  justify-content: center;
}

.card__pessoa {
  width: 400px;
  height: 640px;
  background: var(--white-color-3);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 40px var(--black-color-opacity-20);
  margin-bottom: 1.5rem;
  border: 2px solid var(--white-color);
  transition: 0.3s ease-out;
  text-align: center;
}

.profile {
  position: relative;

  .thumbnail {
    width: 400px;
    height: 520px;
    transform: scale(1.009);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: 0.3s ease-out;
    box-shadow: var(--shadow);
  }

  .nome {
    color: var(--blue-grey-color);
    font-size: 22px;
    font-weight: 800;
  }

  .cargo,
  .linkedin {
    color: var(--blue-grey-color-2);
    font-weight: 300;
    letter-spacing: 5px;
    font-family: porscheNextBold;
  }

  .cargo {
    font-size: 1.4rem;
  }

  .linkedin {
    text-decoration: none;
    font-size: 1.2rem;
  }
}

.card__pessoa:hover {
  transform: scale(1.009);
  border: 2px solid var(--main-color);
  transition: 0.3s ease-in;

  .thumbnail {
    transform: scale(0.95);
    transition: 0.3s ease-in;
  }

  .linkedin {
    color: var(--main-color);
  }
}

.about__contanier__vagas {
  color: var(--white-color);
  align-items: center;
  justify-content: center;
  text-align: center;

  #tittle__vagas {
    h1 {
      font-family: porscheNextBold;
      font-size: 52px;
      line-height: 4rem;
      color: var(--main-color)
    }

    #button__vagas {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    #button__vagas span {
      display: flex;
      background-color: var(--white-color);
      width: 12rem;
      padding: 15px 12px;
      border-radius: 3px;
      letter-spacing: 2px;
      transition: 0.25s ease-out;
      transform: scale(0.98);
      justify-content: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--main-color);
      /* box-shadow: 0 0 4px var(--main-color), 0 0 4px var(--main-color), 0 0 4px var(--main-color); */
    }

    #button__vagas span:hover {
      cursor: pointer;
      background-color: var(--main-color);
      transition: 0.25s ease-in;
      transform: scale(1);
      box-shadow: 0 0 5px var(--main-color), 0 0 5px var(--main-color), 0 0 5px var(--main-color);
    }

    #button__vagas span a {
      color: var(--main-color);
      font-family: porscheNext;
      font-size: 20px;
      transition: 0.25s ease-in;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    #button__vagas span:hover a {
      color: var(--white-color);
      transition: 0.35s ease-in;
    }
  }
}
