#tool-bar {
  background: #ff003b;
  color: white;
  font-family: porscheNextBold;
  font-size: 1.5rem;
  font-weight: 450;
  justify-content: center;
  position: fixed;
  z-index: 3;
}

.links a {
  text-decoration: none;
  color: #FFF;
}

.links {
  border-left: 2px solid #FFF;
  padding-left: 2rem;
  padding-right: 2rem;
}

#formsColector {
  border-right: 2px solid #FFF;
  padding-left: 2rem;
  padding-right: 2rem;
}
