<header>
  <nav>
    <ul id="navbar__list">
      <li><a id="home" class="links" routerLink="/">Home</a></li>
      <li><a id="seeAllCars" class="links" routerLink="/allCars">Ver Todos os Carros</a>
      <li><a id="seeColectors" class="links" routerLink="/Colecionadores">Ver Colecionadores</a></li>
      <li>
        <span id="formsDropdown" class="links">
          <a id="formulario">Formulários <span id="setas"><i id="down" class="bi bi-arrow-down-circle"></i>
              <i id="up" class="bi bi-arrow-up-circle"></i></span>
          </a>
          <ul class="dropdown">
            <li><a routerLink="/FormularioColecionador">Colecionador</a></li>
            <li><a routerLink="/FormularioCarro">Carro</a></li>
          </ul>
        </span>
      </li>
    </ul>
  </nav>
</header>

<body>
  <router-outlet></router-outlet>
</body>
