header {
  top: 0;
  margin-top: 0;
}

nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  justify-content: center;
}

#navbar__list .logo__site {
  width: 50px;
  width: 50px;
  margin-right: 0.5rem;
}

#navbar__list {
  list-style: none;
  background: var(--main-color);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#navbar__list li a {
  font-family: porscheNextBold;
  font-size: 1.375rem;
}

#formulario #setas i {
  padding: 0 0 0 .5rem;
  font-size: 20px;
  position: absolute;
  transition: 0.8s ease;
}

#formsDropdown:hover #setas #down {
  visibility: hidden;
  opacity: 0;
  transition: 0.8s ease;
}

#formulario #setas #up {
  opacity: 0;
}

#formsDropdown:hover #setas #up {
  opacity: 1;
  visibility: visible;
  transition: 0.8s ease;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 30px;
  color: var(--white-color);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: inherit;
  background: var(--main-color);
  position: absolute;
  z-index: 999;
  display: none;
}

#formulario {
  align-items: center;
  justify-content: center;
  padding-right: 42.1px;
}

#formsDropdown .dropdown {
  margin: 0;
  justify-content: center;
  align-items: center;
}

ul li a:hover {
  background: var(--secundary-color);
}

ul.dropdown.countries li a:hover {
  background: none;
}

ul #formsDropdown:hover ul.dropdown {
  display: block;
  padding-left: 0;
}

ul.dropdown.countries li a:hover {
  top: 0;
  margin-top: 0;
  opacity: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.5s ease, opacity 0.5s ease;
}

ul.dropdown.countries li a:hover span {
  visibility: hidden;
}

ul.dropdown.countries>li:nth-child(1) a:hover {
  background-image: url("../assets/paises/BRAZIL-FLAG.png");
}

ul.dropdown.countries>li:nth-child(2) a:hover {
  background-image: url("../assets/paises/US-FLAG.jpg");
}

ul.dropdown.countries>li:nth-child(3) a:hover {
  background-image: url("../assets/paises/PORTUGAL-FLAG.png");
}

ul.dropdown.countries>li:nth-child(4) a:hover {
  background-image: url("../assets/paises/GERMANY-FLAG.jpg");
}

ul.dropdown.countries>li:nth-child(5) a:hover {
  background-image: url("../assets/paises/FRENCH-FLAG-2.jpg");
}

ul.dropdown.countries>li:nth-child(6) a:hover {
  background-image: url("../assets/paises/BELGIUM-FLAG-2.jpg");
}

ul.dropdown.countries>li:nth-child(7) a:hover {
  background-image: url("../assets/paises/SWITZERLAND-FLAG.jpg");
}

ul.dropdown.countries>li:nth-child(8) a:hover {
  background-image: url("../assets/paises/SPAIN-FLAG.jpg");
}

footer {
  width: 100%;
  border-top: 1px solid var(--white-color);
  position: absolute;
  color: white;
  padding: 2.5rem;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}

footer h3 {
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 1px;
  margin-bottom: 0;
}

footer p {
  margin-bottom: 0;
}

footer span {
  margin-bottom: 0;
}

footer .footer-section #idioma h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer #brazil__flag {
  width: 2rem;
  height: auto;
  margin-right: 0.8rem;
}

.footer-section .informations {
  display: flex;
  flex-direction: row;

  #contato,
  #social__media {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #contato span {
    background-color: var(--white-color);
    width: 60%;
    padding: 12px 10px;
    border-radius: 3px;
    letter-spacing: 2px;
    align-self: center;
    transition: 0.35s ease-out;
    transform: scale(0.98);
  }

  #contato span:hover {
    cursor: pointer;
    background-color: var(--main-color);
    transition: 0.35s ease-in;
    transform: scale(1);
  }

  #contato span a {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 480;
    transition: 0.35s ease-out;
  }

  #contato span:hover a {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 490;
    transition: 0.35s ease-in;
  }

  .social__media__icons {
    display: flex;
    justify-content: center;
  }

  .social__media__icons span {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    margin-left: 10px;
    width: 3rem;
    height: 3rem;
    border-radius: 3px;
    transform: scale(0.98);
    transition: 0.35s ease-out;
  }

  .social__media__icons span:hover {
    background-color: var(--main-color);
    transform: scale(1.09);
    transition: 0.35s ease-in;
  }

  .social__media__icons span:hover i {
    font-size: 25px;
    line-height: 25px;
    color: var(--white-color);
    transition: 0.35s ease-out;
  }

  .social__media__icons span i {
    font-size: 20px;
    line-height: 25px;
    color: var(--main-color);
    transition: 0.35s ease-out;
  }
}

.footer-content {
  margin-bottom: 20px;
  background-color: var(--bg-color);
  align-items: top;
  justify-content: center;
}

.footer-content p {
  font-size: 16px;
  font-weight: 250;
}

@media screen and (min-width: 600px) {
  .footer-content {
    display: flex;
    /* justify-content: space-around; */
  }
}
