<header>
  <nav>
    <ul id="navbar__list">
      <li><a id="home" class="links" routerLink="/">Home</a></li>
      <li>
        <span id="formsDropdown" class="links">
          <a id="formulario">A Elite <span id="setas"><i id="down" class="bi bi-arrow-down-circle"></i>
              <i id="up" class="bi bi-arrow-up-circle"></i></span>
          </a>
          <ul class="dropdown">
            <li><a id="historia" (click)="redirectToAboutPage('historia')">História</a></li>
            <li><a id="proposito" (click)="redirectToAboutPage('proposito')">Propósito</a></li>
            <li><a id="equipe" (click)="redirectToAboutPage('equipe')">Equipe</a></li>
          </ul>
        </span>
      </li>
      <li><a id="seeAllCars" class="links" routerLink="/allCars">Ver todos os carros</a>
      <li><a id="seeColectors" class="links" routerLink="/Colecionadores">Ver colecionadores</a></li>
      <li>
        <span id="formsDropdown" class="links">
          <a id="formulario">Formulários <span id="setas"><i id="down" class="bi bi-arrow-down-circle"></i>
              <i id="up" class="bi bi-arrow-up-circle"></i></span>
          </a>
          <ul class="dropdown">
            <li><a routerLink="/FormularioColecionador">Colecionador</a></li>
            <li><a routerLink="/FormularioCarro">Carro</a></li>
          </ul>
        </span>
      </li>
      <li>
        <span id="formsDropdown" class="links">
          <a id="formulario">Encontros <span id="setas"><i id="down" class="bi bi-arrow-down-circle"></i>
              <i id="up" class="bi bi-arrow-up-circle"></i></span>
          </a>
          <ul class="dropdown countries">
            <li><a><span>Brasil</span></a></li>
            <li><a><span>EUA</span></a></li>
            <li><a><span>Protugal</span></a></li>
            <li><a><span>Alemanha</span></a></li>
            <li><a><span>França</span></a></li>
            <li><a><span>Bélgica</span></a></li>
            <li><a><span>Suíça</span></a></li>
            <li><a><span>Espanha</span></a></li>
          </ul>
        </span>
      </li>
    </ul>
  </nav>
</header>

<body>
  <router-outlet></router-outlet>
</body>
