<header id="navbar">
  <nav>
    <ul id="navbar__list">
      <a routerLink="/"><img class="logo__site" src="../assets/svg/no-celta-2.svg" alt=""></a>
      <li><a id="home" class="links" routerLink="/">Home</a></li>
      <li>
        <span id="formsDropdown" class="links">
          <a id="formulario" routerLink="/About">A Elite <span id="setas"><i id="down"
                class="bi bi-arrow-down-circle"></i>
              <i id="up" class="bi bi-arrow-up-circle"></i></span>
          </a>
          <ul class="dropdown">
            <li><a id="historia__navbar" (click)="redirectToPageIdHtml('About','historia')">História</a></li>
            <li><a id="logo__navbar" (click)="redirectToPageIdHtml('About', 'logo')">Logo</a></li>
            <li><a id="proposito__navbar" (click)="redirectToPageIdHtml('About','proposito')">Propósito</a></li>
            <li><a id="equipe__navbar" (click)="redirectToPageIdHtml('About','equipe')">Equipe</a></li>
          </ul>
        </span>
      </li>
      <li><a id="seeAllCars" class="links" routerLink="/allCars">Ver todos os carros</a>
      <li><a id="seeColectors" class="links" routerLink="/Colecionadores">Ver colecionadores</a></li>
      <li>
        <span id="formsDropdown" class="links">
          <a id="formulario">Formulários <span id="setas"><i id="down" class="bi bi-arrow-down-circle"></i>
              <i id="up" class="bi bi-arrow-up-circle"></i></span>
          </a>
          <ul class="dropdown">
            <!-- <li><a routerLink="/FormularioCarro">Carro</a></li> -->
            <li><a (click)="redirectToPage('FormularioCarro')">Carro</a></li>
            <li><a (click)="redirectToPage('FormularioContato')">Contato</a></li>
            <li><a (click)="redirectToPage('FormularioColecionador')">Colecionador</a></li>
          </ul>
        </span>
      </li>
      <li>
        <span id="formsDropdown" class="links">
          <a id="formulario" routerLink="/Encontros">Encontros <span id="setas"><i id="down"
                class="bi bi-arrow-down-circle"></i>
              <i id="up" class="bi bi-arrow-up-circle"></i></span>
          </a>
          <ul class="dropdown countries">
            <li><a (click)="redirectToPageIdHtml('encontro','brasil')"><span>Brasil</span></a></li>
            <li><a (click)="redirectToPageIdHtml('encontro','eua')"><span>EUA</span></a></li>
            <li><a (click)="redirectToPageIdHtml('encontro','portugal')"><span>Protugal</span></a></li>
            <li><a (click)="redirectToPageIdHtml('encontro','alemanha')"><span>Alemanha</span></a></li>
            <li><a (click)="redirectToPageIdHtml('encontro','franca')"><span>França</span></a></li>
            <li><a (click)="redirectToPageIdHtml('encontro','belgica')"><span>Bélgica</span></a></li>
            <li><a (click)="redirectToPageIdHtml('encontro','suica')"><span>Suíça</span></a></li>
            <li><a (click)="redirectToPageIdHtml('encontro','espanha')"><span>Espanha</span></a></li>
          </ul>
        </span>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="footer" *ngIf="visibilityService.getShowFooter()">
  <div class="footer-content">
    <div class="footer-section">
      <div id="idioma">
        <h3>Região / Idioma Atual</h3>
        <h4><img id="brazil__flag" src="../assets/paises/bandeira-brasil-redonda.png" alt="Bandeira do Brasil">Brasil /
          Português</h4>
      </div>
    </div>
    <div class="footer-section">
      <div class="informations">
        <div id="contato">
          <h3>Contato</h3>
          <p>Perguntas ?</p>
          <span (click)="redirectToPage('FormularioContato')"><a>Formulário de Contato</a></span>
          <!-- &#64; = @ -->
          <p>Email: contato&#64;elite.com</p>
        </div>
        <div id="social__media">
          <h3>Redes Sociais</h3>
          <p>Entre em contato conosco através das mídias sociais.</p>
          <div class="social__media__icons">
            <span class="icon"><i class="fa-brands fa-facebook-f"></i></span>
            <span class="icon"><i class="fa-brands fa-instagram"></i></span>
            <span class="icon"><i class="fa-brands fa-pinterest-p"></i></span>
            <span class="icon"><i class="fa-brands fa-youtube"></i></span>
            <span class="icon"><i class="fa-brands fa-x-twitter"></i></span>
            <span class="icon"><i class="fa-brands fa-linkedin-in"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-section">
      <div class="links__uteis">
        <h3>Links Úteis</h3>
        <ul>
          <li><a (click)="redirectToPage('politica-privacidade')">Política de Privacidade</a></li>
          <li><a (click)="redirectToPage('termos-uso')">Termos de Uso</a></li>
          <li><a (click)="redirectToPage('compliance')">Compliance</a></li>
          <li><a (click)="redirectToPage('lgpd')">LGPD</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-section">
      <h3>Empresa</h3>
      <div class="empresa__links">
        <ul>
          <li><a routerLink="/About">Sobre</a></li>
          <li><a routerLink="/empregos">Empregos e Carreiras</a></li>
          <li><a routerLink="/imprensa">Imprensa</a></li>
          <li><a routerLink="/sustentabilidade">Sustentabilidade</a></li>
          <li><a a routerLink="/subsidiaria">Subsidiária</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="copyright__information">
    <p>
      © 2024 ELite -Brasil Ltda. Indicações Legais.
      <a routerLink="/politica-privacidade">Política de Privacidade.</a>
      <a routerLink="/compliance">Compliance Elite.</a>
      <a routerLink="/compliance/denuncia">Canal de Denúncia.</a>
    </p>
  </div>
  <div id="logo" routerLink="/">
    <img src="../assets/svg/no-celta-main-color.svg"
      alt="Nossa logo marca: Um nó celta chamado solomons quádruplos com estremidade redondas">
    <p>Elite</p>
  </div>
</footer>
