#tool-bar {
  background: #ff003b;
  color: white;
  font-family: porsche;
  font-size: 18px;
  justify-content: center;
  position: fixed;
  z-index: 3;
}

.links a {
  text-decoration: none;
  color: #FFF;
}

.links {
  border-left: 4px solid #FFF;
  padding-left: 2rem;
  padding-right: 2rem;
}

#seeColectors {
  border-right: 4px solid #FFF;
  padding-left: 2rem;
  padding-right: 2rem;
}
