<header>
  <mat-toolbar id="tool-bar">
    <span>Colecionador de Carros - Cloud Computing</span>
    <div class="links-navbar">
      <span class="border-right" class="links"><a routerLink="/">Home</a></span>
      <span class="border-right" class="links"><a routerLink="/allCars">Ver Todos os Carros</a></span>
      <span class="border-right" class="links"><a routerLink="/Collectores">Ver Colecionadores</a></span>
    </div>
  </mat-toolbar>
</header>

<body>
  <router-outlet></router-outlet>
</body>
