#tool-bar {
  background: #ff003b;
  color: white;
}

.links-navbar {
  margin-left: 8rem;
}

.links a {
  text-decoration: none;
  color: #FFF;
}
.links {
  border-left: 4px solid #FFF;
  padding-left: 2rem;
  padding-right: 2rem;
}

.border-right {
  border-right: 3px solid #FFF;
}
