<searchFilter id="buscadorDeCarros"
  [placeholder]="'Digite uma marca...'"
  [selectOptions]="[{ value: 'marca', text: 'Marca' }, { value: 'modelo', text: 'Modelo' }]">
</searchFilter>

<div class="carro-container" *ngIf="carros && carros.length > 0">
  <mat-card class="card-carros" *ngFor="let carro of carros">
    <mat-card-header>
      <mat-card-title> <img id="icone-marca" src="../../../assets/icons/imagem-de-marca.png" alt="icone-marca">Marca: {{ carro.marca }} </mat-card-title>
      <mat-card-subtitle> <img id="icon-model" src="../../../assets/icons/carro-esporte.png" alt="icon-model">Modelo: {{ carro.modelo }} </mat-card-subtitle>
      <mat-card-subtitle> <img id="icone-cor" src="../../../assets/icons/roda-de-cores.png" alt="icone-cor">Cor: {{ carro.cor }} </mat-card-subtitle>
      <mat-card-subtitle> <img id="icone-ano-de-fabricacao" src="../../../assets/icons/data-limite.png" alt="icone-ano-de-fabricacao">Ano de Fabricação: {{ carro.anoDeFabricacao }} </mat-card-subtitle>
      <mat-card-subtitle> <img id="icone-velocidade" src="../../../assets/icons/rapidez.png" alt="icone-velocidade">Velocidade Máxima: {{ carro.velocidadeMaxima }} Km/h </mat-card-subtitle>
      <mat-card-subtitle> <img id="icone-quilometragem" src="../../../assets/icons/distancia.png" alt="icone-quilometragem">Quilometragem: {{ carro.quilometragem }} </mat-card-subtitle>
    </mat-card-header>
    <span id="car__image"><img mat-card-image [src]="carro.urlImagemCarro" alt="Imagem de um carro"></span>

    <like-button></like-button>
  </mat-card>
</div>
<router-outlet></router-outlet>
