.carro-container {
  padding-top: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0.5rem;
  padding: 2.5rem;
}

.card-carros {
  max-width: 600px;
  background-color: var(--white-color);
  border-radius: 20px;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  border-color: 1px solid var(--white-color);
}

.card-carros:hover {
  background-color: var(--black-color-opacity-30);
  border: 1.5px solid var(--main-color);
}

.card-carros:hover mat-card-title,
.card-carros:hover mat-card-subtitle {
  color: var(--white-color);
}

.card-carros #car__image {
  width: auto;
  height: 300px;
}

.card-carros #car__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.card-carros:hover #car__image img {
  transform: scale(0.9);
  border-radius: 20px;
}

mat-card-title,
mat-card-subtitle {
  display: flex;
  align-items: center;
  justify-content: left;
}

mat-card-header {
  justify-content: center;
}

mat-card-header img {
  max-width: 36px;
  max-height: 512px;
  margin-right: 1rem;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

mat-card-subtitle {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

mat-card-title,
mat-card-subtitle,
mat-card-actions button {
  color: var(--black-color);
}
