<body>
  <div id="about__contanier">
    <div id="left__content">
      <div id="titulos">
        <h1 id="historia">NOSSOS ENCONTROS !</h1>
        <h2>Do Luxo Clássico à Inovação Moderna !</h2>
        <h3>Encontre Sua Paixão Automotiva em Nossa Galeria de Colecionadores </h3>
        <h4>
          O entusiasta automotivo chamado Igor Mariano, cuja paixão por carros de luxo ultrapassava as
          fronteiras do comum, desejava deixar suar marca no mundo. Inspirado por seu amor, Igor embarcou em uma
          jornada para criar um espaço online que transcendesse todas as fronteiras. Então foi dessa forma que surgiu
          a elite !
        </h4>
        <h4>
          Ele deu vida a este site, que unie o legado do luxo clássico à vanguarda da inovação moderna. Colecionadores
          de carros de todo o mundo encontraram um lar virtual onde podem compartilhar sua coleção de carros bem como
          histórias e descobertas
          automotivas únicas.
        </h4>
      </div>
      <ul id="list__information">
        <span>
          <i class="bi bi-arrow-right-circle"></i>
          <li class="info">Coleções Exclusivas</li>
        </span>
        <span>
          <i class="bi bi-arrow-right-circle"></i>
          <li class="info">Carros Premium e Luxuosos</li>
        </span>
        <span>
          <i class="bi bi-arrow-right-circle"></i>
          <li class="info">Comunidade Única e Mundial</li>
        </span>
        <span>
          <i class="bi bi-arrow-right-circle"></i>
          <li class="info">Serviço de Qualidade Garantida</li>
        </span>
        <span>
          <i class="bi bi-arrow-right-circle"></i>
          <li class="info">Compromisso com a Distinção e Elegância</li>
        </span>
      </ul>
      <div id="assinatura__ceo">
        <img src="../../../assets/AssinaturaCEO.png" alt="Assinatura do CEO Igor Mariano">
        <p>CEO, Elite Car Club</p>
      </div>
    </div>
    <div id="right__content">
      <div id="imagem__colecionador">
        <img src="../../../assets/Backhean-With-car.jpg" alt="">
      </div>
    </div>
  </div>
