body {
  background-color: var(--bg-color);
}

/* .imagens__encontros {
  display: flex;
}

.imagens__encontros img{
  width: 500px;
  height: auto;
} */


/* body,
.multimGalContainer {
  background-color: var(--white-color);
} */

.multimGalContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: calc(2rem + 60px);
  justify-content: center;
}

/* .image-large {
  flex: 4;
}

.image-small {
  flex: 2;
} */

.multimGalContainer div img {
  transform: scale(1);
  transition: 0.3s ease-out;
}

.multimGalContainer div img:hover {
  transform: scale(0.96);
  transition: 0.3s ease-in;
}

.multimGalContainer div iframe {
  transform: scale(1);
  transition: 0.3s ease-out;
}

.multimGalContainer div iframe:hover {
  transform: scale(0.96);
  transition: 0.3s ease-in;
}

.multimGalContainer img {
  width: 100%;
  display: block;
  margin-left: 0.5rem;
}

.multimGalContainer iframe {
  width: 500px;
  height: 333px;
  margin-left: 0.5rem;
}

.multimGalContainer #grid__1 img {
  display: flex;
  width: 500px;
  height: auto;
  margin-bottom: 0.5rem;
}

.multimGalContainer #grid__2 img {
  display: flex;
  width: 500px;
  height: auto;
  margin-bottom: 0.5rem;
}

.multimGalContainer #grid__3 img {
  display: flex;
  width: 500px;
  height: auto;
  margin-bottom: 0.5rem;
}
