<!-- <body>
  <div class="encontros__main__content">
    <div class="imagens__encontros">
      <div id="image__1"><img src="../../../assets/encontrosImage/lamborguini-garage.jpg" alt=""></div>
      <div id="image__2"><img src="../../../assets/encontrosImage/lamborguini-garage.jpg" alt=""></div>
      <div id="image__3"><img src="../../../assets/encontrosImage/lamborguini-garage.jpg" alt=""></div>
      <div id="image__4"><img src="../../../assets/encontrosImage/lamborguini-garage.jpg" alt=""></div>
      <div id="image__5"><img src="../../../assets/encontrosImage/lamborguini-garage.jpg" alt=""></div>
    </div>
  </div>
</body> -->

<body>
  <div class="multimGalContainer">
    <div id="grid__1">
      <div class="image-large">
        <img src="../../../assets/encontrosImage/lamborguini-garage.jpg" alt="Large Image Description">
      </div>
      <div class="image-small">
        <img src="../../../assets/encontrosImage/lamborguini-garage-2.jpg" alt="Small Image Description 1">
      </div>
      <!-- <div class="image-small">
        <img src="../../../assets/encontrosImage/lamborguini-garage.jpg" alt="Small Image Description 2">
      </div> -->
    </div>
    <div id="grid__2">
      <!-- <div class="image-small">
        <img src="../../../assets/encontrosImage/garage-1.jpg" alt="Small Image Description 2">
      </div>
      <div class="image-small">
        <img src="../../../assets/encontrosImage/garage-2.jpg" alt="Small Image Description 2">
      </div>
      <div class="image-small">
        <img src="../../../assets/encontrosImage/lamborguini-garage.jpg" alt="Small Image Description 2">
      </div> -->
      <iframe width="540" height="315" src="https://www.youtube-nocookie.com/embed/mWxjRXR7nWI?si=nSAIEpbbzHpIG1R2"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>
    <div id="grid__3">
      <div class="image-small">
        <img src="../../../assets/encontrosImage/garage-1.jpg" alt="Small Image Description 2">
      </div>
      <div class="image-small">
        <img src="../../../assets/encontrosImage/garage-2.jpg" alt="Small Image Description 2">
      </div>
      <!-- <div class="image-small">
        <img src="../../../assets/encontrosImage/lamborguini-garage.jpg" alt="Small Image Description 2">
      </div> -->
    </div>
  </div>
</body>
