<div class="container-welcome">
  <video autoplay muted loop>
    <source src="../../../assets/videos/video-carro-2-acelerado-1.6x.mp4.mp4" type="video/mp4">
  </video>
  <div class="main-content">
    <h2>Explore conosco o fascinante universo automotivo. <br>
      <span>Sinta-se em casa desde a primeira aceleração !</span>
    </h2>
    <div class="buttons__home">
      <div class="sell-all-collectors"><a (click)="redirectToPage('Colecionadores')"><span>Conhecer colecionadores</span></a></div>
      <div class="become-a-collector"><a (click)="redirectToPage('FormularioColecionador')"><span>Virar um colecionador</span></a>
      </div>
    </div>
  </div>
</div>

