.container-welcome {
  inset: 0;
  position: relative;
  width: 100vw;
  position: fixed;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-welcome::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--black-color-opacity-37);
}

.container-welcome video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.container-welcome .main-content {
  position: relative;
  z-index: 2;
}

.main-content h2 {
  font-family: porscheNextBold;
  font-size: 55px;
  color: var(--white-color);
  line-height: 3.525rem;
}

.buttons__home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.buttons__home div {
  margin-top: 1rem;
}

.sell-all-collectors a {
  font-family: porscheNextBold;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 380px;
  height: 45px;
  line-height: 50px;
  font-size: 20px;
  letter-spacing: 6px;
  text-decoration: none;
  background-color: var(--main-color);
  text-align: center;
  position: relative;
  transition: all .30s;
  border-radius: 25px;
  border: 2px solid var(--main-color);
  font-weight: 600;
  cursor: pointer;
}

.sell-all-collectors a span {
  position: relative;
  z-index: 2;
  color: var(--white-color);
}

.sell-all-collectors:hover a span {
  color: var(--main-color);
}

.sell-all-collectors a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--white-color);
  transition: all .5s;
  border-radius: 25px;
}

.sell-all-collectors a:hover:after {
  width: 100%;
}

.become-a-collector a {
  font-family: porscheNextBold;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 380px;
  height: 45px;
  line-height: 50px;
  font-size: 20px;
  letter-spacing: 6px;
  text-decoration: none;
  background-color: var(--white-color);
  text-align: center;
  position: relative;
  transition: all .30s;
  border-radius: 25px;
  border: 2px solid var(--white-color);
  font-weight: 600;
  cursor: pointer;
}

.become-a-collector a span {
  position: relative;
  z-index: 2;
  color: var(--main-color);
}

.become-a-collector:hover a span {
  color: var(--white-color);
}

.become-a-collector a:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  transition: all .5s;
  border-radius: 25px;
}

.become-a-collector a:hover:after {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .main-content h2 {
    font-size: 45px;
    line-height: 3rem;
  }

  .sell-all-collectors a {
    padding: 0rem 2rem;
    width: 340px;
    font-size: 20px;
  }

  .become-a-collector a {
    padding: 0rem 2rem;
    width: 340px;
    font-size: 20px;
  }
}
