.container-collector {
  padding-top: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 29rem);
  grid-auto-rows: auto;
  justify-content: center;
}

.card-collector {
  width: 400px;
  height: 580px;
  background: var(--white-color-3);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 40px var(--black-color-opacity-20);
  margin-bottom: 1.5rem;
}

.profile {
  position: relative;

  .thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border-radius: 100%;
    box-shadow: var(--shadow);
  }

  .nome {
    color: var(--blue-grey-color);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .nickname {
    color: var(--blue-grey-color-2);
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1rem;
    letter-spacing: 5px;
    font-family: porscheNextBold;
  }

  .description {
    color: var(--black-color-2);
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.3em;
  }

  .sell-cars-of-collector a,
  .add__car__to__collector a {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: porscheNextBold;
    text-decoration: none;
    background-color: var(--main-color);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .45s;
    border-radius: 25px;
    border: 3px solid var(--main-color);
    font-weight: 600;
    cursor: pointer;
  }

  .sell-cars-of-collector a span,
  .add__car__to__collector a span {
    position: relative;
    z-index: 2;
    color: var(--white-color);
  }

  .sell-cars-of-collector:hover a span,
  .add__car__to__collector:hover a span {
    color: var(--main-color);
  }

  .sell-cars-of-collector a:after,
  .add__car__to__collector a:after {
    position: absolute;
    content: "";
    top: 0;
    width: 0;
    height: 100%;
    background: var(--white-color);
    transition: all .5s;
    border-radius: 25px;
  }

  .sell-cars-of-collector a:after {
    left: 0;
  }

  .add__car__to__collector a:after {
    right: 0;
  }

  .sell-cars-of-collector a:hover:after,
  .add__car__to__collector a:hover:after {
    width: 100%;
  }
}

.social-icons {
  display: flex;
  margin-top: 1.2rem;
  justify-content: space-between;

  .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  img {
    color: var(--white-color);
    width: 55px;
    height: 55px;
    border-radius: 18px;
    box-shadow: var(--shadow);
  }

  img:hover {
    width: 60px;
    height: 60px;
  }

  h4 {
    color: var(--black-color-2);
    font-size: 1.4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
  }

  p {
    color: var(--grey-color-2);
    font-size: 16px;
  }
}

.social-icons .icon:hover {
  cursor: pointer;
}
