<div class="banner__carreiras">
  <img src="../../../assets/porsche-jobs-background-image.png" alt="">
  <div id="tittle">
    <h1>Gostou da Elite ?<br>Venha trabalhar conosco !</h1>
    <div id="button__vagas">
      <span (click)="redirectToPageIdHtml('empregos', 'encontrar__vagas')">
        <a>Ver vagas</a>
      </span>
    </div>
  </div>
</div>

<main>
  <section id="navigation__carreiras">
    <ol id="carreiras__links">
      <li id="emprego__elite" class="links active">Empregos na Elite</li>
      <li id="oportunidade__ingressos" class="links">Oportunidade de Ingresso</li>
      <li id="subsidiarias" class="links">Subsidiárias</li>
    </ol>
  </section>

  <section id="navigation__vagas">
    <div id="encontrar__vagas">
      <h1>Encontrar Vagas</h1>
      <div class="search__wrapper">
        <input type="text" placeholder="Título do cargo, unidade, ...">
        <i class="bi bi-search"></i>
      </div>
      <button>Pesquisar</button>
    </div>

    <div id="ingresso__elite">
      <h1>Ingresso na Elite</h1>
      <ol id="ingresso__links">
        <li id="estudantes__e__graduados" class="links active">Estudantes universitários e graduados</li>
        <li id="profissionais__experientes" class="links">Profissionais experientes
        </li>
      </ol>

      <div class="card__ingresso">
        <div class="card">
          <span>
            <!-- <img src="../../../assets/pessoas/CEO-man2.jpg" class="thumbnail" alt="Foto de um Sócio e Colecionador"> -->
          </span>
          <h3 class="titulo"></h3>
          <p class="cargo">Sócio & Colecionador</p>
          <a class="linkedin" href=""><i class="bi bi-linkedin"></i>LinkedIn</a>
        </div>
      </div>
    </div>

    <div id="emprego__dos__sonhos">
      <h1>Encontre o emprego dos seus sonhos</h1>
      <span>Encontrar Vagas</span>
      <span>Perguntas Frequentres sobre a candidatura</span>
      <span>Hotline e Candidatura</span>
    </div>

    <div id="ingresso__subsidiarias">
      <h1>Ingresso em subsidiárias e organização comercial</h1>
      <span>Encontrar Vagas</span>
      <span>Perguntas Frequentres sobre a candidatura</span>
      <span>Hotline e Candidatura</span>
    </div>
  </section>
</main>
