body,
#navigation__vagas {
  background-color: var(--white-color);
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1 0 auto;
  background-color: var(--white-color);
}

.banner__carreiras img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: -1;
}

/* .banner__carreiras .image__container::after {
  content: "";
  z-index: 2;
  background: linear-gradient(to top,
      rgba(31, 31, 31, .9) 0%,
      rgba(31, 31, 31, .9) 20%,
      rgba(31, 31, 31, .852589) 26.67%,
      rgba(32, 32, 32, .768225) 33.33%,
      rgba(33, 33, 33, .668116) 40%,
      rgba(34, 34, 34, .557309) 46.67%,
      rgba(35, 35, 35, .442691) 53.33%,
      rgba(36, 36, 36, .331884) 60%,
      rgba(37, 37, 37, .231775) 66.67%,
      rgba(38, 38, 38, .147411) 73.33%,
      rgba(39, 39, 39, .0816599) 80%,
      rgba(39, 39, 39, .03551) 86.67%,
      rgba(39, 39, 39, .0086472) 93.33%,
      rgba(39, 39, 39, 0) 100%);
} */

.banner__carreiras {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

#navigation__carreiras {
  display: flex;
  width: 100%;
  z-index: 99;
  position: relative;
  top: 0;
  border-bottom: 1px solid var(--white-color-opacity-10);
  box-shadow: 0 2px 5px var(--black-color-opacity-50);
}

#carreiras__links {
  display: flex;
  padding: 0;
  margin-left: 15rem;
}

#carreiras__links .links {
  margin-right: 16px;
  letter-spacing: 2.5px;
  padding: 6px;
  font-family: porscheNext;
  font-size: 18px;
  transition: 0.6s ease-in;
  position: relative;
}

#carreiras__links .links::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--main-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s;
  border-radius: 25px;
}

#carreiras__links .links:active,
#carreiras__links .links:hover:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .6s;
}

#carreiras__links .links:active,
#carreiras__links .links:hover {
  color: var(--main-color);
  transition: 0.35s ease-in;
}

#navigation__vagas {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  gap: 5rem;
  padding: 5rem 0;

  #encontrar__vagas,
  #ingresso__elite,
  #card__ingresso,
  #emprego__dos__sonhos,
  #ingresso__subsidiarias {
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-family: porscheNextBold;
    color: var(--main-color);
    font-size: 42px;
  }

  #encontrar__vagas {
    padding: 5rem 0;
  }

  #encontrar__vagas h1 {
    padding-bottom: 2rem;
  }

  .filter {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .filter input {
    width: 350px;
    height: 40px;
    font-size: 18px;
    border: 2px solid var(--black-color);
    border-radius: 5px;
    outline: 0;
    transition: 0.5s;
  }

  .filter input:focus {
    border-color: var(--main-color);
  }

  .filter input::placeholder {
    color: var(--grey-color);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
  }

  .filter button {
    font-family: porscheNextBold;
    width: 200px;
    height: 46.5px;
    font-size: 18px;
    letter-spacing: 6px;
    text-decoration: none;
    background-color: var(--main-color);
    text-align: center;
    transition: all .30s;
    transition: .6s ease;
    transition: .45s ease-in;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    z-index: 99;
  }

  .filter button:hover {
    background-color: var(--red-color-A-400);
    box-shadow: 0 0 10px var(--main-color);
    transition: .45s ease-out;
  }
}

#ingresso__elite {
  width: 100%;
  height: 25%;
  background-color: var(--white-color-4-whitesmoke);
  padding: 5rem 0;

  #ingresso__links {
    display: flex;
    font-family: porscheNext;
    font-size: 18px;
    color: var(--black-color);
    gap: 1rem;
    transition: 0.6s ease-in;
    position: relative;
  }

  #ingresso__links .links {
    transition: 0.6s ease-in;
    position: relative;
  }

  #ingresso__links .links::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--main-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
    border-radius: 25px;
  }

  #ingresso__links .links:active,
  #ingresso__links .links:hover:before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .6s ease-in;
  }

  #ingresso__links .links:active,
  #ingresso__links .links:hover {
    color: var(--main-color);
    transition: 0.35s ease-in;
  }
}

.grid__cards {
  padding-top: 2rem;
  display: grid;
  margin: 2rem 0;
  grid-template-columns: repeat(3, 27rem);
  row-gap: 1.5rem;
  grid-auto-rows: auto;
  justify-content: center;
}

.card__ingresso {
  width: 400px;
  height: auto;
  min-width: 325px;
  border-radius: 10px;
  background-color: var(--white-color-4-whitesmoke);
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.35s ease-out;
  overflow: hidden;
}

.card__ingresso:hover {
  border: 2px solid var(--main-color);
  background-color: var(--white-color);
  transition: 0.35s ease-in;
}

.card__ingresso:hover .card__image img {
  transform: scale(1.05);
}

.card__image {
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 250px;
  overflow: hidden;
}

.card__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.details {
  margin: 2rem 1rem;

  h3 {
    font-size: 24px;
    font-family: porscheNextBold;
  }

  p {
    font-size: 16px;
    text-align: left;
    letter-spacing: 1.2px;
    color: var(--black-color-2);
    font-family: porscheNext;
    margin-bottom: 1rem;
  }
}

#emprego__dos__sonhos {
  width: 100%;
  height: 25%;
  background-color: var(--white-color-4-whitesmoke);
  padding: 5rem 0;

  #btn__info__vagas {
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: auto;

  }

  span {
    width: 400px;
    height: 42px;
    border-radius: 10px;
    padding: 1rem 0 1rem 0.5rem;
    color: var(--white-color);
    background-color: var(--black-color-4);
  }
}

.btn__saiba__mais {
  align-items: center;
  color: var(--main-color);
  font-size: 18px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.35s ease-out;

  i {
    margin-right: 0.5rem;
  }
}

.card__ingresso .btn__saiba__mais:hover {
  /* border: 2px solid var(--main-color); */
  background-color: var(--main-color);
  color: var(--white-color);
  transition: 0.35s ease-in;
}
