@font-face {
  font-family: porsche;
  src: url("./assets/fonts/911porschav3.ttf") format("truetype");
}

@font-face {
  font-family: porsche2;
  src: url("./assets/fonts/911porschav33d.ttf") format("truetype");
}

@font-face {
  font-family: porscheNext;
  src: url("./assets/fonts/porsche-next.otf") format("truetype");
}

@font-face {
  font-family: porscheNextBold;
  src: url("./assets/fonts/porsche-next.otf") format("truetype");
}

:root {
  --main-color: #ff003b;
  --main-color-opacity-95: rgba(255, 0, 59, .95);
  --main-color-opacity-90: rgba(255, 0, 59, .90);
  --main-color-opacity-85: rgba(255, 0, 59, .85);
  --main-color-opacity-80: rgba(255, 0, 59, .80);
  --main-color-opacity-75: rgba(255, 0, 59, .75);
  --main-color-opacity-70: rgba(255, 0, 59, .70);
  --main-color-opacity-65: rgba(255, 0, 59, .65);
  --main-color-opacity-60: rgba(255, 0, 59, .60);
  --main-color-opacity-55: rgba(255, 0, 59, .55);
  --main-color-opacity-50: rgba(255, 0, 59, .50);
  --main-color-opacity-45: rgba(255, 0, 59, .45);
  --main-color-opacity-40: rgba(255, 0, 59, .40);
  --main-color-opacity-35: rgba(255, 0, 59, .35);
  --main-color-opacity-30: rgba(255, 0, 59, .30);
  --main-color-opacity-25: rgba(255, 0, 59, .25);
  --main-color-opacity-20: rgba(255, 0, 59, .20);
  --main-color-opacity-15: rgba(255, 0, 59, .15);
  --main-color-opacity-10: rgba(255, 0, 59, .10);
  --secundary-color: #c5002e;

  --white-color: rgb(255, 255, 255);
  --white-color-opacity-95: rgb(255, 255, 255, .95);
  --white-color-opacity-90: rgb(255, 255, 255, .90);
  --white-color-opacity-85: rgb(255, 255, 255, .85);
  --white-color-opacity-80: rgb(255, 255, 255, .80);
  --white-color-opacity-75: rgb(255, 255, 255, .75);
  --white-color-opacity-70: rgb(255, 255, 255, .70);
  --white-color-opacity-64: rgb(255, 255, 255, .65);
  --white-color-opacity-60: rgb(255, 255, 255, .60);
  --white-color-opacity-55: rgb(255, 255, 255, .55);
  --white-color-opacity-50: rgb(255, 255, 255, .50);
  --white-color-opacity-45: rgb(255, 255, 255, .45);
  --white-color-opacity-40: rgb(255, 255, 255, .40);
  --white-color-opacity-35: rgb(255, 255, 255, .35);
  --white-color-opacity-30: rgb(255, 255, 255, .30);
  --white-color-opacity-25: rgb(255, 255, 255, .25);
  --white-color-opacity-20: rgb(255, 255, 255, .20);
  --white-color-opacity-15: rgb(255, 255, 255, .15);
  --white-color-opacity-10: rgb(255, 255, 255, .10);

  --white-color-2: #ddd;
  --white-color-3: #fdfeff;

  --bg-color: #0F0F0F;

  --black-color: #000;
  --black-color-opacity-95: rgba(0, 0, 0, .95);
  --black-color-opacity-90: rgba(0, 0, 0, .90);
  --black-color-opacity-85: rgba(0, 0, 0, .85);
  --black-color-opacity-80: rgba(0, 0, 0, .80);
  --black-color-opacity-75: rgba(0, 0, 0, .75);
  --black-color-opacity-70: rgba(0, 0, 0, .70);
  --black-color-opacity-65: rgba(0, 0, 0, .65);
  --black-color-opacity-60: rgba(0, 0, 0, .60);
  --black-color-opacity-55: rgba(0, 0, 0, .55);
  --black-color-opacity-50: rgba(0, 0, 0, .50);
  --black-color-opacity-45: rgba(0, 0, 0, .45);
  --black-color-opacity-40: rgba(0, 0, 0, .40);
  --black-color-opacity-35: rgba(0, 0, 0, .35);
  --black-color-opacity-30: rgba(0, 0, 0, .30);
  --black-color-opacity-25: rgba(0, 0, 0, .25);
  --black-color-opacity-20: rgba(0, 0, 0, .20);
  --black-color-opacity-15: rgba(0, 0, 0, .15);
  --black-color-opacity-10: rgba(0, 0, 0, .10);

  --black-color-2: #080911;

  --blue-color-1: #139DF2;
  --blue-color-2: #0f7ef1;
  --blue-color-3: #1356f2;
  --blue-color-4: #0019a8;

  --blue-grey-color: #2d354a;
  --blue-grey-color-2: #7c8097;

  --grey-color: #808080;
  --grey-color-opacity-95: rgba(128, 128, 128, .95);
  --grey-color-opacity-90: rgba(128, 128, 128, .90);
  --grey-color-opacity-80: rgba(128, 128, 128, .85);
  --grey-color-opacity-85: rgba(128, 128, 128, .80);
  --grey-color-opacity-80: rgba(128, 128, 128, .75);
  --grey-color-opacity-75: rgba(128, 128, 128, .70);
  --grey-color-opacity-70: rgba(128, 128, 128, .65);
  --grey-color-opacity-65: rgba(128, 128, 128, .60);
  --grey-color-opacity-60: rgba(128, 128, 128, .65);
  --grey-color-opacity-55: rgba(128, 128, 128, .55);
  --grey-color-opacity-50: rgba(128, 128, 128, .50);
  --grey-color-opacity-45: rgba(128, 128, 128, .45);
  --grey-color-opacity-40: rgba(128, 128, 128, .40);
  --grey-color-opacity-35: rgba(128, 128, 128, .35);
  --grey-color-opacity-30: rgba(128, 128, 128, .30);
  --grey-color-opacity-25: rgba(128, 128, 128, .25);
  --grey-color-opacity-20: rgba(128, 128, 128, .20);
  --grey-color-opacity-15: rgba(128, 128, 128, .15);
  --grey-color-opacity-10: rgba(128, 128, 128, .10);

  --grey-color-2: #666b7d;

  --red-color-50: rgba(255, 235, 238, 1);
  --red-color-100: rgba(255, 205, 210, 1);
  --red-color-200: rgba(239, 154, 154, 1);
  --red-color-300: rgba(229, 115, 115, 1);
  --red-color-400: rgba(239, 83, 80, 1);
  --red-color-500: rgba(244, 67, 54, 1);
  --red-color-600: rgba(229, 57, 53, 1);
  --red-color-700: rgba(211, 47, 47, 1);
  --red-color-800: rgba(198, 40, 40, 1);
  --red-color-900: rgba(183, 28, 28, 1);
  --red-color-A-100: rgba(255, 138, 128, 1);
  --red-color-A-200: rgba(255, 82, 82, 1);
  --red-color-A-400: rgba(255, 23, 68, 1);
  --red-color-A-700: rgba(213, 0, 0, 1);
  --red-color: rgb(255, 0, 0, 1);
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
}

/* ScrollBar */
::-webkit-scrollbar {
  /* Vertical */
  width: 8px;

  /* Horizontal */
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 15px;
}
