body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/porsche-background.jpg");
  background-size: cover;
  object-fit: cover;
}

.container-welcome {
  text-align: center;
}

h2 {
  font-size: 40px;
  color: #fff;
  padding-top: 30vh;
  line-height: 3.525rem;
}

h2 span {
  margin-top: 15rem;
}

.sell-all-collectors a {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 380px;
  height: 45px;
  line-height: 40px;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  background-color: #ff003b;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .45s;
  border-radius: 25px;
  border: 3px solid #ff003b;
  font-weight: 600;
  cursor: pointer;
}

.sell-all-collectors a span {
  position: relative;
  z-index: 2;
  color: #fff;
}

.sell-all-collectors:hover a span {
  color: #ff003b;
}

.sell-all-collectors a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: all .5s;
  border-radius: 25px;
}

.sell-all-collectors a:hover:after {
  width: 100%;
}
