<body>
  <div class="container-welcome">
    <video autoplay muted loop>
      <source src="../../../assets/video-carro-2.mp4" type="video/mp4" type="video/mp4">
    </video>
    <div class="main-content">
      <h2>Explore conosco o fascinante universo automotivo. <br>
        <span>Sinta-se em casa desde a primeira aceleração !</span>
      </h2>
      <div class="sell-all-collectors"><a a routerLink="/Colecionadores"><span>Conhecer colecionadores</span></a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
